/* Write your CSS here */

.events-container {
  display: flex;
  background-color: #3a4b63;
  background-size: cover;
  align-items: flex-start;
}
.event-content {
  width: 60%;
  height: 100vh;
  padding-top: 48px;
  padding-right: 4px;
  padding-bottom: 48px;
  padding-left: 48px;
  overflow-y: auto;
}

.heading {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
}
.events-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0px;
  padding-left: 0px;
}
